@model List<ClassModel>

<h5>Classses</h5>
<hr />
@if (Model is not null && Model.Count > 0)
{
    <ul  class="navbar-nav">
        <li ><a asp-action="Index" asp-controller="Home" asp-area="Reports">-- All Classes --</a></li>
        @foreach (var classs in Model)
        {
            <li><a asp-action="Index" asp-controller="Home" asp-area="Reports" asp-route-Filter.CategoryId="@classs.Id">@classs.Name</a></li>
        }
    </ul>
}
else
{
    <p class="text-danger">
        No categories found!
    </p>
}